body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in width/height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px); /* Subtract top and bottom padding */
    margin: 0;
}

form {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 60%;
    max-width: 500px;
}

h1, h2, h3 {
    text-align: center;
    color: #0d6efd;
}

label {
    color: #0d6efd;
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

input[type="submit"], button {
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: #0b5ed7;
}

input[type="submit"]:active, button:active {
    background-color: #0a58ca;
}

#alertBox {
    margin-top: 20px;
    padding: 20px;
    background-color: #f44336;
    color: white;
    display: none;
    text-align: center;
    border-radius: 5px;
}