body {
    font-family: Arial, sans-serif;
}

#transactionInput {
    margin-bottom: 20px;
}

input {
    margin: 10px 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#alertBox {
    margin-top: 20px;
    padding: 20px;
    background-color: #f44336;
    color: white;
    display: none;
}
